#outreach_background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, rgb(120, 40, 40), rgb(210, 50, 50));
    z-index: 0;
    top: 0px;
}

#outreach_title {
    text-align: center;
    font-size: 80px;
    margin-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

@media (max-width: 715px)
{

    #outreach_title {
        font-size: 55px;
    }

}